.SignUpBanner {
    width: 95%;
    height: auto;
    border-radius: 10px;
    background-color: #E6E0AE;
    margin: 10px auto;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    color: #AA381E;
    text-align: center;
}

.SignUpBanner h3, p {
    margin: 10px 0;
}