.Button {
    height: 36px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 25px;
    min-width: 100px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    margin: 8px 15px;
}

.Red {
    background-color: #AA381E;
    box-shadow: 0px 3px 0px #612518;
    color: #E6E0AE
}

.Grey {
    background-color: lightgray;
    color: darkgray;
    cursor: default;
}

.Yellow {
    background-color: #E6E0AE;
    box-shadow: 0px 3px 0px #918c63;
    color: #AA381E
}

.Red:hover {
    background-color: #b8604d;
}

.Yellow:hover {
    background-color: #f8f4cc;
}

.Button:active {
    box-shadow: 0px 0px;
    transform: translateY(3px) 
}