.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 1px 3px black;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    display: inline-block;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px
    }
}

.Auth h1 {
    color:  #AA381E;
}