.Settings {
    width: 300px;
    display: inline-block;
    padding: 10px;
    color: #AA381E;
}

.SliderBox {
    width: 60%;
    margin: 10px auto;
}

.Slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    border-radius: 3px;
    color: black;
    background: black;
}

.Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #AA381E;
    cursor: pointer;
  }

.CheckGrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start;
    column-gap: 10px;
    padding: 10px 0;
}

.CheckGrid input {
    justify-self: end;
}